<i class="fa fa-times close" ng-click="dismiss()"></i>
<div class="header" style="background-image:url('assets/pitch_guide.jpg');">
</div>
<div class="main-content-about">
    <table class="table">
          <tbody>
            <tr>
              <td class="text-center"><%= image_tag("ninna.jpg")%><p><em><small>Director</small></em></p></td>
              <td><p><span class="orange">Ninna Gaensler-Debs</span> is a writer, radio producer, and enthusiastic punner. She reports and produces stories for KALW's news magazine Crosscurrents and has planned multiple events for the station. Recently, she made a Beat literary tour of San Francisco for Detour, and is always up for things that include books, radio and the Bay Area.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("claire.jpg")%><p><em><small>Managing Editor</small></em></p></td>
              <td><p><span class="orange">Claire Mullen</span> is a Bay Area native. She is an assistant producer for Radio Ambulante, a Spanish-language storytelling radio series based in San Francisco.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("angela.jpg")%><p><em><small>Managing Editor</small></em></p></td>
              <td><p><span class="orange">Angela Johnston </span> is an independent radio producer and reporter based out of San Francisco, California. Her passion for audio storytelling and good sound has put her behind the wheel of a driverless car, taken her behind the scenes of a book bindery, and had her dragging a waterproof microphone alongside a group of native American women swimming from Alcatraz. She's a reporter with KALW public radio, and has also produced stories for CBC's Spark and KQED public radio. Angela got her graduate degree in Broadcast Journalism from Carleton University in Ottawa, ON, and is currently working on Canadian  storytelling project called Storywise with a friend from her program. When she's not making radio, Angela loves surfing small waves on her longboard.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("cal.jpg")%><p><em><small>Illustator/Graphic Designer</small></em></p></td>
              <td><p><span class="orange">Cal Tabuena-Frolli </span> is a graphic designer and illustrator for public radio. He studied Journalism and Communication Design and is finding increasingly common ground between the two as Comics Journalism, multimedia apps and hand-made zines dominate his spare time. He is happiest when mainlining series of podcasts at his drafting table.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("lo.jpg")%><p><em><small>Web Developer</small></em></p></td>
              <td><p><span class="orange">Lo Benichou </span> is a multimedia journalist and interactive news developer at Youth Radio in Oakland, CA. She likes radio (obviously) and has a healthy obsession with Totoro and social justice.</p></td>
            </tr>
            <tr>
              <td class="text-center"><%= image_tag("seth.jpg")%><p><em><small>Sound Engineer</small></em></p></td>
              <td><p><span class="orange">Seth Samuel </span> is a sound engineer, producer, and reporter for KALW News in San Francisco. He has a bachelor's degree in music composition from Oberlin Conservatory and a master's degree in music composition for film and multimedia from NYU. Seth produces and mixes KALW's award-winning daily news-magazine, "Crosscurrents." He is also currently composing original scores for PBS and KQED's "Deep Look" documentary series. He composed original scores for nearly 100 of Richard Kostelanetz's "Video Fiction" and "Video Poetry";" he has worked with McSweeney's on their podcast, The Organist; he produced "Elders By The Bay," an hour-long documentary by City Visions' Lauren Meltzer; and he is the producer for Come and Listen: Jewish Food For Thought, an "audio portal into Jewish culture, history, and religion." Seth won the National Edward R. Murrow Award in 2014, the Sigma Delta Chi Award from the Society of Professional Journalists in 2014, the Investigative Excellence in Journalism Award from the Society for Professional Journalists in 2014, the First Place National Documentary Award from the Public Radio News Directors Incorporated in 2014, the Public Radio News Directors Incorporated Award for Best Documentary in 2013, and the Excellence in Journalism award from the Society of Professional Journalists in 2012. Seth lives in Berkeley, California with his wife and cat.</p></td>
            </tr>
            <tr>
              <td class="text-center"><%= image_tag("marianne.jpg")%><p><em><small>Editor</small></em></p></td>
              <td><p><span class="orange">Marianne McCune</span> has reported for NPR (most recently, Planet Money) and WNYC for almost two decades. She has won local and national awards for her reporting, including the Dart Award for Coverage of Trauma (2012) for Living 9/11, a documentary exploring how the World Trade Center attacks impacted the lives of New Yorkers in the decade that followed. Recently, she won a duPont-Columbia award for her participation in the 'Planet Money Makes A T-Shirt' project. Marianne is also the founder and longtime editor of Radio Rookies, an award-winning series of stories written, reported, and produced by New York teenagers. Radio Rookies won a Peabody award and been honored for "outstanding reporting on the problems of the disadvantaged" by the Robert F. Kennedy Journalism Award for Domestic Radio.</p></td>
            </tr>
          </tbody>
      </table>
</div>


