<i class="fa fa-times close" ng-click="dismiss()"></i>
<div class="header about">
</div>
<div class="main-content-about">
  <div class="text-center">
  <p><span class="orange">The Litography Project </span> documents literary history and culture in the Bay Area through creative multimedia storytelling. We are dedicated to representing the wide range of literary pursuits that thrive here and the diversity of authors and artists that call these nine counties home. </p>

<p>We hope that Litography can help you learn something new, discover something beautiful, and most importantly, celebrate all the wonderful creativity that happens right here in the Bay Area. </p>

<a href="mailto:contact@thelitographyproject.com">Contact us!</a>
</div>
<br/>
    <table class="table">
          <tbody>
            <tr>
              <td class="text-center"><%= image_tag("ninna.jpg")%><p><em><small>Director</small></em></p></td>
              <td><p><span class="orange">Ninna Gaensler-Debs</span> is a writer, radio producer, and enthusiastic punner. She reports and produces stories for KALW's news magazine Crosscurrents and has planned multiple events for the station. Recently, she made a Beat literary tour of San Francisco for Detour, and is always up for things that include books, radio and the Bay Area.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("claire.jpg")%><p><em><small>Managing Editor</small></em></p></td>
              <td><p><span class="orange">Claire Mullen</span> is a Bay Area native. She is an assistant producer for Radio Ambulante, a Spanish-language storytelling radio program based in San Francisco. She likes to spend her free time immersed in fiction and film photography.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("angela.jpg")%><p><em><small>Managing Editor</small></em></p></td>
              <td><p><span class="orange">Angela Johnston </span> is an independent radio producer and reporter based out of San Francisco, California. Her passion for audio storytelling and good sound has put her behind the wheel of a driverless car, taken her behind the scenes of a book bindery, and had her dragging a waterproof microphone alongside a group of native American women swimming from Alcatraz. She's a reporter with KALW public radio, and has also produced stories for CBC's Spark and KQED public radio. Angela got her graduate degree in Broadcast Journalism from Carleton University in Ottawa, ON, and is currently working on Canadian  storytelling project called Storywise with a friend from her program. When she's not making radio, Angela loves surfing small waves on her longboard.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("cal.jpg")%><p><em><small>Illustator/Graphic Designer</small></em></p></td>
              <td><p><span class="orange">Cal Tabuena-Frolli </span> is a graphic designer and illustrator for public radio. He studied Journalism and Communication Design and is finding increasingly common ground between the two as Comics Journalism, multimedia apps and hand-made zines dominate his spare time. He is happiest when mainlining series of podcasts at his drafting table.</p></td>
            </tr>
            <tr>
              <td class="text-center"> <%= image_tag("lo.jpg")%><p><em><small>Web Developer</small></em></p></td>
              <td><p><span class="orange">Lo Benichou </span> is a multimedia journalist and interactive news developer at Youth Radio in Oakland, CA. She likes radio (obviously) and has a healthy obsession with Totoro and social justice.</p></td>
            </tr>
            <tr>
              <td class="text-center"><%= image_tag("seth.jpg")%><p><em><small>Sound Engineer</small></em></p></td>
              <td><p><span class="orange">Seth Samuel </span>is a composer, sound engineer, producer, and reporter for KALW News in San Francisco. He won the National Edward R. Murrow Award in 2014, the Sigma Delta Chi Award from the Society of Professional Journalists in 2014, the Investigative Excellence in Journalism Award from the Society for Professional Journalists in 2014, the First Place National Documentary Award from the Public Radio News Directors Incorporated in 2014, the Public Radio News Directors Incorporated Award for Best Documentary in 2013, and the Excellence in Journalism award from the Society of Professional Journalists in 2012. Seth lives in Berkeley, California with his wife and cat.</p></td>
            </tr>
            <tr>
              <td class="text-center"><%= image_tag("marianne.jpg")%><p><em><small>Editor</small></em></p></td>
              <td><p><span class="orange">Marianne McCune</span> has reported for NPR (most recently, Planet Money) and WNYC for almost two decades. She has won local and national awards for her reporting, including the Dart Award for Coverage of Trauma (2012) for Living 9/11, a documentary exploring how the World Trade Center attacks impacted the lives of New Yorkers in the decade that followed. Recently, she won a duPont-Columbia award for her participation in the 'Planet Money Makes A T-Shirt' project. Marianne is also the founder and longtime editor of Radio Rookies, an award-winning series of stories written, reported, and produced by New York teenagers. Radio Rookies won a Peabody award and been honored for "outstanding reporting on the problems of the disadvantaged" by the Robert F. Kennedy Journalism Award for Domestic Radio.</p></td>
            </tr>
          </tbody>
      </table>
</div>


