<!DOCTYPE html>
<html>
<head>
  <title>The Litography Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="The Litography Project" />
  <meta property="og:url" content="http://beta.thelitographyproject.com/" />
  <meta property="og:image" content="<%= image_url('facebook.jpg') %>" />
  <meta property="og:description" content="The Litography Project documents literary history and culture in the Bay Area through creative multimedia storytelling. We are dedicated to representing the wide range of literary pursuits that thrive here and the diversity of authors and artists that call these nine counties home." />
  <meta property="og:site_name" content="The Litography Project" />
  <meta property="fb:app_id" content="1401147086817093"/>
  <!-- Add SEO stuff -->
   <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

</head>
<body class="main-view-container" ng-app="litography">
<%= yield %>
</body>
</html>
